<div [formGroup]="todoForm">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Due Date</mat-label>
    <input matInput type="date" formControlName="dueDate">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option *ngFor="let opt of statusOptions" [value]="opt">{{opt}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-flat-button color="primary">Save</button>
</div>
